* {
    font-family: 'Raleway';
}

.category-head {
    margin: 100px 50px 50px 50px;
    width: 100wh;
    height: 300px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    color: white;
}

.category-head img {
    width: 800px;
    height: auto;
    position: absolute;
    right:-5%;
    top: -30%;
    z-index: 50;
}

.category-head-text {
    width: 50%;
}
.category-head-text p {
    font-size:20px;
    padding: 20px 10px;
}

.featured {
    position: relative;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 600px;
    border-radius: 10px;
    background-color: var(--button-color);
}

.featured h1 {
    position: absolute;
    display: block-inline;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
}

.featured-recipe {
    position: relative;
    flex-direction: row; 
    top: 35px;
}

.featured-recipe img {
    width: 400px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
}

.featured-recipe img:hover{
    transform: scale(1.05);
}



.featured-recipe .featured-text {
    color: aliceblue;
    position: absolute;
    font-family: 'Raleway';
    font-size: 30px;
    top: 10%;
    left: 10%;
}


.category-list {
 position: relative;
}

.category-list h1 {
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%); 
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 50px;
}

.grid img {
    border-radius: 200px;
    width: 250px;
    height: auto;
    margin: 20px;
    
}

.grid div {
    position: relative;
}

.grid div p {
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    transform: translate(-40%,-50%);
    display: none;
    margin: 0;
}


.grid img:hover {
    filter: brightness(50%) !important;
    filter: blur(50%) !important;
    cursor: pointer;
}

.grid div:hover p{
    cursor: pointer;
    display: block;
    color: white ;
    background-image: linear-gradient(rgba(0,0,0,0.5,black));
}

.responsive-category-head-img {
    display: none;
}

@media (max-width:700px) {

    .category-head img {
        display: none;
    }

    .category-head {
        margin: 5rem 1.5rem 1.5rem 1.5rem;
        width: 100wh;
        height: 23rem;
        background-color: black;
        border-radius: 1rem;
        padding: 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .category-head-text {
        text-align: center;
        position: relative;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
    }
    .category-head-text p {
        text-align: center;
        font-size:1.1em;
        padding: 1rem, 1rem;
    }
    .featured {
        margin-top: 2rem;
        text-align: center;
        position: relative;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60rem;
        border-radius: 1rem;
        background-color: var(--button-color);
    }
    
    .featured-recipe {
        
        display: flex;
        flex-direction: column; 
    }

    .featured-recipe img {
        width: 15rem;
        height: 15rem;
        overflow: hidden;
        border-radius: 20px;
        display: flex;
        flex-direction: column; 
    }

    .category-list .grid{
    
            display: grid;
            grid-template-columns: auto auto;
            margin: 50px;
    
        
    }

    .grid img {
        border-radius: 4rem;
        width: 7rem;
        height: auto;
        
    }
   
    .grid div p {
        font-size: 1.3rem;
        text-align: center;
    }
}

