

:root {
    --primary-color:#ffb80e;  /* Yellow */
    --secondary-color: #e32929;  /* RED */
    --dark-color1:#982121;
    --dark-color2:	#813531;
    --button-color: #ff611d; /* Yellow */
    --button-hover-color:#c5450e;

}